**/fmod/
**.out
**/.vscode/
**/build/
*.bin
**/SDL2-2.28.5
*.o
**.gch
out.wav
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps